* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 0ex;
    background: rgb(240, 240, 240);
}

.herosection {
    font-family: 'Montserrat', sans-serif;

}

.herosection h1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 700;
}

.herosection p {
    font-weight: 700;
}

.herosection h4 {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: 400;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 5%;
}

/* responsive */
@media only screen and (max-width: 425px) {
    .fotogalang a {
        size: 24px;
    }

    .fotogalang p {
        font-size: 12px;
        text-align: center;
    }

    .fotorifky p {
        font-size: 12px;
        text-align: center;
    }
    .herosection h1 {
        font-size: 20px;
    }
    .herosection h4 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .fotogalang a {
        size: 24px;
    }

    .fotogalang p {
        font-size: 12px;
        text-align: center;
    }

    .fotorifky p {
        font-size: 12px;
        text-align: center;
    }
    .herosection h1 {
        font-size: 20px;
    }
    .herosection h4 {
        font-size: 12px;
    }
}
