/* navbar */

.navbar {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* hero section */

.hero {
    justify-content: center;
    background: rgb(53, 53, 53);
}

.hero h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #F1C40F;
}

.hero h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: white;
}

.hero p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

/* button */

.btn-primary {
    background: #F1C40F;
    border: 0;
    padding: 10px 30px 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.btn-primary:hover {
    background: #5a5a5a;
    border: 0;
}

/* content portfolio */

.portfolio {
    background: rgb(56, 56, 56);
}

.container .port {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.container .port h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: white;
}

.container .interest {
    background: #323232;
    width: 980px;
    height: 140px;
    border-radius: 12px;
    justify-content: center;
}

.interest h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: white;
}

/* btn */

.btn-outline-warning {
    padding: 10px 30px 10px 30px;
    font-size: 16px;
    font-weight: bold;
}

/* yt */

.yt {
    background: rgb(56, 56, 56);
    height: 300px;
}