* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.navbar {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background: #161616;
}

/* jumbotron */
.jumbotron {
    background-image: url(/img/image4.png);
    background-size: cover;
    margin-top: 80px;
    height: 480px;

}

.jumbotron .display-4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-top: 280px;
}

/* about me */

.aboutme {
    margin-top: -32px;
    background: #201F1F;
}

.aboutme h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: white;
}

.aboutme p {
    font-family: "Poppins", sans-serif;
    color: white;
}

/* education */

.education {
    background: #262626;
}

.education h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: white;
}

/* list */

.textlist {
    background: #323232;
    border-radius: 20px;
}

.textlist h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: white;
}

.textlist p {
    font-family: "Poppins", sans-serif;
    font-size: 600;
    font-size: 14px;
    color: #f1c40f;
}

.textlist p em {
    color: gray;
}

/* work experience */

.work {
    background: #201F1F;
}

.work h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: white;
}

/* tool&skill */

.tools {
    background: #262626;
}

.tools h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: white;
}

.tools .icon {
    align-items: center;
}

.tools .col-md-2 {
    margin: 5px;
}

/* why hire me */

.whyhireme {
    background: #201F1F;
}

.whyhireme h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: white;
}

.whyhireme img {
    padding-bottom: 30px;
    margin-left: 95px;
}

.whyhireme h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    text-align: center;
    color: white;
}

.whyhireme .col-lg-4 p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    text-align: center;
    color: white;
}

/* interested */

.interested {
    background: #201F1F;
}

.interested .container .row {
    background: #323232;
    /* width: 980px;
    height: 140px; */
    border-radius: 12px;
    justify-content: center;
}

.interest h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: white;
}

/* btn */

.interested .btn-outline-warning {
    padding: 10px 30px 10px 30px;
    font-size: 16px;
    font-weight: bold;
}

.interested .btn-primary {
    background: #f1c40f;
    border: 0;
    padding: 10px 30px 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}



/* get in touch */

.getintouch {
    background: #262626;
}

.getintouch h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
}

.getintouch p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: white;
}

.getintouch a {
    color: #f1c40f;
}

/* footer */

.footer {
    background: #161616;
}

.footer p {
    font-family: "Poppins", sans-serif;
    font-style: 300;
    color: white;
    font-size: 12px;
    margin-top: 20px;
}

/* Responsive breakpoints */

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {

    /* jumbotron */
    .jumbotron .display-4 {
        font-size: 38px;
    }


    /* interested */
    .container .interest {
        display: flex;
        flex-wrap: wrap;
        background: #323232;
        /* width: 980px;
        height: 140px; */
        border-radius: 12px;
    }

    .interested .interest h3 {
        font-size: 24px;
    }

    .interest .btn-outline-warning {

        padding: 4px;
    }

    .interest .btn-primary {
        padding: 4px;
    }
}

@media (min-width: 576px) {}